.git/
.ipynb_checkpoints/
OUTRO_CAP_.Conceito_-_ETL_(Extract_-_Transform_-_Load).ipynb
OUTRO_CAP_.Lab1_-_Modelo_Classificacao_com_Apache_Mahout_-_Detecando_Spam.ipynb
OUTRO_CAP_.Lab2_-_Clusterizacao_com_Apache_Mahout_-_Agrupando_Noticias.ipynb
1.Importando_Dados_do_Banco_de_Dados_Oracle_para_o_HDFS/.ipynb_checkpoints/
1.Importando_Dados_do_Banco_de_Dados_Oracle_para_o_HDFS/Instrucoes/
1.Importando_Dados_do_Banco_de_Dados_Oracle_para_o_HDFS/Dataset/
