.git/
.ipynb_checkpoints/
OUTRO_CAP_.Conceito_-_ETL_(Extract_-_Transform_-_Load).ipynb
OUTRO_CAP_.Lab1_-_Modelo_Classificacao_com_Apache_Mahout_-_Detecando_Spam.ipynb
OUTRO_CAP_.Lab2_-_Clusterizacao_com_Apache_Mahout_-_Agrupando_Noticias.ipynb
1.Conceito_-_Hadoop_Machine_Learning_com_Apache_Mahout.ipynb
OUTRO_CAP_.Conceito_-_HBase_e_Hive.ipynb
2.Instalando_e_Configurando_o_Apache_Mahout_no_Cluster_Hadoop.ipynb
1.Importando_Dados_do_Banco_de_Dados_Oracle_para_o_HDFS/.ipynb_checkpoints/
1.Importando_Dados_do_Banco_de_Dados_Oracle_para_o_HDFS/Instrucoes/
1.Importando_Dados_do_Banco_de_Dados_Oracle_para_o_HDFS/Dataset/
2.Prevendo_Casos_de_Doencas_Cardiacas/.ipynb_checkpoints/
2.Prevendo_Casos_de_Doencas_Cardiacas/Dataset/
3.Design_de_um_Job_MapReduce_com_Spark_para_os_Gastos_Totais_por_Cliente/Dataset/
3.Design_de_um_Job_MapReduce_com_Spark_para_os_Gastos_Totais_por_Cliente/.ipynb_checkpoints/
